.menu.borderless.topmenu {
  background-color: #f7f7f7;
  box-shadow: none;
  border: none;
}

.bottommenu {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 80px;
  border: none;
}

.menu.borderless.secondmenu {
  border: none;
  box-shadow: none;
}
